/* Move headers to the middle */
@media (min-width: 1280px) {
  main > .pagehead > div,
  main > .pagehead > nav {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
  main > .pagehead > nav > ul > li > a {
   visibility: visible !important;
  }
  main > .pagehead > nav .js-responsive-underlinenav-overflow {
    display: none;
  }
}

/* Highlight the selected page in the header */
.UnderlineNav-item.selected {
  border-radius: 3px 3px 0 0;
  background: #fff;
  border-left: 1px solid #e1e4e8;
  border-right: 1px solid #e1e4e8;
  border-bottom: none;
  border-top: 3px solid #e36209;
  padding-top: 3px;
}

/* Add the row separators in the list of files on a repo's main page */
.js-active-navigation-container .Box-row.border-top-0 {
  border-top: 1px solid #e1e4e8 !important;
}

/* Slightly more compact file list rows and box headers */
.js-active-navigation-container .Box-row {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}
.repository-content .gutter-condensed .Box .Box-header {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Remove rounded edges */
.repository-content .Box {
  border-radius: 3px;
}
.repository-content .Box-header {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin-bottom: -1px;
}

/* Remove the circular user images */
body .avatar-user {
  border-radius: 6px !important;
}

/* README should have a slight background */
#readme .Box-header {
  background: #f6f8fa !important;
  border-bottom: 1px solid #d1d5da !important;
}

/* Issue counters and labels are too thin */

main > .pagehead > nav .Counter {
  font-weight: 600;
}
.IssueLabel {
  border-radius: 2px;
  font-weight: 600;
}

/* Rows in Issues page have way too much whitespace */

.js-issue-row.Box-row {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/* Classic buttons */

body .btn {
  transition: none !important;
}

body .btn {
  background: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
  border: 1px solid rgba(27,31,35,0.2);
  border-radius: 3px;
  padding: 3px 10px;
}
body .btn:hover {
  background: linear-gradient(-180deg, #f0f3f6 0%, #e6ebf1 90%);
  border-color: rgba(27,31,35,0.35);
}
body [open]>.btn, body .btn:active {
  background: #e9ecef;
  border-color: rgba(27,31,35,0.35);
  box-shadow: inset 0 0.15em 0.3em rgba(27,31,35,0.15);
}
body .btn[disabled] {
  cursor: not-allowed;
  color: #959da5;
  background: #fafbfc;
  border-color: rgba(27,31,35,.15);
}


body .btn-primary {
  background: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
}
body .btn-primary:hover {
  background: linear-gradient(-180deg, #2fcb53 0%, #269f42 90%);
  border-color: rgba(27,31,35,0.5);
}
body [open]>.btn-primary, body .btn-primary:active {
  background: #279f43;
  border-color: rgba(27,31,35,0.5);
  box-shadow: inset 0 0.15em 0.3em rgba(27,31,35,0.15);
}
body .btn-primary[disabled] {
  color: hsla(0,0%,100%,.8);
  background: #94d3a2;
  border-color: rgba(27,31,35,.1);
  box-shadow: 0 1px 0 rgba(27,31,35,.1), inset 0 1px 0 hsla(0,0%,100%,.03);
}

body .btn-danger {
  color: #cb2431;
}
body .btn-danger:hover {
  color: #fff;
  background: #cb2431;
  border-color: rgba(27,31,35,.15);
  box-shadow: 0 1px 0 rgba(27,31,35,.1), inset 0 1px 0 hsla(0,0%,100%,.03);
}
body [open]>.btn-danger, body .btn-danger:active { 
  color: #fff;
  background: #be222e;
  border-color: rgba(27,31,35,.15);
  box-shadow: inset 0 1px 0 rgba(134,24,29,.2);
}
body .btn-danger[disabled] {
  color: rgba(203,36,49,.5);
  background: #fafbfc;
  border-color: rgba(27,31,35,.15);
  box-shadow: 0 1px 0 rgba(27,31,35,.04), inset 0 1px 0 hsla(0,0%,100%,.25);
}

body .btn-outline {
  color: #0366d6;
  background: #fff;
}
body .btn-outline:hover {
  color: #fff; 
  background: #0366d6;
  border-color: rgba(27,31,35,.15);
  box-shadow: 0 1px 0 rgba(27,31,35,.1), inset 0 1px 0 hsla(0,0%,100%,.03);
}
body [open]>.btn-outline, body .btn-outline:active { 
  color: #fff; 
  background: #035fc7;
  border-color: rgba(27,31,35,.15);
  box-shadow: inset 0 1px 0 rgba(5,38,76,.2);
}
body .btn-outline[disabled] {
  color: rgba(3,102,214,.5);
  background: #fafbfc;
  border-color: rgba(27,31,35,.15);
  box-shadow: 0 1px 0 rgba(27,31,35,.04), inset 0 1px 0 hsla(0,0%,100%,.25);
}
