/* Move headers to the middle */
@media (min-width: 1400px) {
  main > .pagehead > div,
  main > .pagehead > nav {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Highlight the selected page in the header */
.UnderlineNav-item.selected {
  border-radius: 3px 3px 0 0;
  background: #fff;
  border-left: 1px solid #e1e4e8;
  border-right: 1px solid #e1e4e8;
  border-bottom: none;
  border-top: 3px solid #f9826c;
  padding-top: 3px;
}

/* Add the row separators in the list of files on a repo's main page */
.js-active-navigation-container .Box-row.border-top-0 {
  border-top: 1px solid #e1e4e8 !important;
}

/* Remove the circular user images */
body .avatar-user {
  border-radius: 6px !important;
}